body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #000000;
}

.navbar-brand, .nav-link {
    color: white !important;
}

.carousel-inner img {
    height: 70vh;
    object-fit: cover;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(1);
}
.carousel-item img {
    object-fit: cover;
    height: 60vh; /* Adjust height for mobile */
    max-height: 700px; /* Prevent images from being too tall on larger screens */
}

@media (max-width: 768px) {
    .carousel-item img {
        height: 40vh; /* Smaller height for mobile */
    }
}
.small-img {
    width: 100px;
    height: auto;
}
.card-group {
    display: flex;
    justify-content: center;
    gap: 0px;
    flex-wrap: wrap;
}
.card {
    text-align: center;
}
.card img {
    width: 150px;
    height: auto;
    margin: 0 auto;
}
/* google fonts */
.roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
  }
  .filter-section {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.card {
    margin-bottom: 20px;
}