body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #000000;
}

.navbar-brand, .nav-link {
    color: white !important;
}

.carousel-inner img {
    height: 70vh;
    object-fit: cover;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(1);
}
